<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
    <style>
        body
        {
            background-color: #48fd00;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid rgb(12, 12, 12);
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #fd0505;
        }
        h2
        {
            padding: 20px;
        }
    </style>
</head>
<body>
    <h2 style="background-color:rgb(255, 123, 0);" align="center">Clients Contact List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Purpose</th>
                <th>Message</th>
                <th>Actions</th>
                <th>WhatsApp</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr style="background-color: rgb(245, 155, 155);">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.contact_number }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.get_purpose_display }}</td>
                    <td>{{ contact.message }}</td>
                    <td>
                        <form action="{% url 'delete_contact' contact.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background-color: #6866f1;">Delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="https://wa.me/{{ contact.contact_number }}?text={{ contact.message }}" target="_blank">
                            <button type="button" style="background-color: #25D366; color: white;">Send WhatsApp</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</body>
</html>
